@import './../../../../../styles/colors.scss';

.pathtrek{
	z-index: 1;
	position: absolute;
	left: auto;
	right: 0;
	top: 65%;
	transform: translate(0,-50%);
	color: rgba(255, 255, 255,0.8);
	font-weight: 300;
	@media (max-width:768px) {
		left: 50%;
		top: 60%;
		transform: translate(-50%,-50%);
	}
	span{
		color: rgba(255, 255, 255,0.8);
		font-weight: 300;
		margin: 0 4px 0 0;

	}
	button{
		margin: 0 4px 0 0;
		font-size: 16px;
		font-weight: 300;
		color: $white;
		background: transparent;
		transition: 0.4s ease-in-out;
		&:hover{
			color: $yellow;
		}
	}
}