@import './../../../../styles/colors.scss';

.pricing {
	position: relative;
	padding: 70px 0;
	background: #000;
	// .pricing__background

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img{
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&__background-black {
		position: absolute;
		top: 0;
		left: 0;
		width: 85%;
		height: 100%;
		background: #000;
	}

	// .pricing__name

	&__name {
		.name__logo {
			background: #000;
		}
	
		// .name__title
	
		.name__title {
			background: #000;
		}
	
		// .name__subtitle
	
		.name__subtitle {
			background: #000;
		}
	}

	// .pricing__text

	&__text {
		display: inline-block;
		max-width: 600px;
		line-height: 26px;
		color: $white;
		margin: 0 0 30px 0;
		font-family: 'Poppins';
	}

	// .pricing__prices

	&__prices {
		display: flex;
		justify-content: space-around;
		flex-wrap:wrap;
		@media (max-width:991px) {
			justify-content: flex-start;
		}
	}

	// .pricing__price

	&__price {
	}
}

.price {
	flex: 0 1 30%;
	@media (max-width:991px) {
		flex: 0 1 45%;
	}
	@media (max-width:768px) {
		flex: 1 1 100%;
	}
	overflow: hidden;
	z-index: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $white;
	border-radius: 5px;
	margin: 15px;
	padding: 50px 20px;
	outline:2px dashed #000;
	outline-offset:-10px;
	&:hover{
		.price__wave{
			background: $red;
			color: $white;
		}
	}
	// .price__cost

	&__cost {
		z-index: 1;
		display: flex;
		justify-content: center;
		font-size: 100px;
		font-weight: 700;
		line-height: 90px;
		@media (max-width:1380px) {
			font-size: 70px;
		}
		@media (max-width:991px) {
			font-size: 100px;
		}
		@media (max-width:480px) {
			font-size: 70px;
		}
		span{
			text-transform: uppercase;
			font-size: 50px;
			line-height: 100px;
			@media (max-width:1380px) {
				font-size: 40px;
			}
			@media (max-width:991px) {
				font-size: 50px;
			}
			@media (max-width:480px) {
				font-size: 40px;
			}
			&:first-child{
				line-height: 50px;
				font-size: 35px;
				@media (max-width:1380px) {
					font-size: 30px;
				}
				@media (max-width:991px) {
					font-size: 35px;
				}
				@media (max-width:480px) {
					font-size: 30px;
				}
			}
		}
	}

	// .price__offer

	&__offer {
		z-index: 1;
		margin: 0 0 20px 0;
		font-size: 30px;
		font-weight: 500;
		padding: 0 15px;
		@media (max-width:1380px) {
			font-size: 22px;
		}
	}

	// .price__button

	&__button {
		z-index: 1;
		padding: 16px 36px 12px;
		font-size: 14px;
		background: $yellow;
		color:#000;
		border-radius: 5px;
		margin: 0 0 20px 0;
		transition: 0.4s ease-in-out;
		&:hover{
			background: $red;
			color: $white;
		}
	}

	// .price__subtitle

	&__subtitle {
		z-index: 1;
		font-size: 14px;
		color: $black;
		max-width: 270px;
		margin: 0 0 70px 0;
		padding: 0 15px;
	}

	// .price__text

	&__text {
		cursor: default;
		z-index: 1;
		font-size: 20px;
		font-weight: 500;
		margin:30px 0;
		span{
			font-size: 40px;

		}
	}

	// .price__wave

	&__wave {
		z-index: -1;
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
		width: 150%;
		height: 200px;
		background: $yellow;
		transition: 0.4s ease-in-out;
		img{
			position: absolute;
			top:0;
			left: 0%;
			transform: translate(-100%,0);
			animation: wave-1 1.5s linear infinite;
			&:nth-child(2){
				transform: translate(0,0);
				animation: wave-2 1.5s linear infinite;
			}
		}
	}
	
}
@keyframes wave-1 {
	0%{
		transform: translate(-100%,0);

	}
	100%{
		transform: translate(0%,0);

	}
}
@keyframes wave-2 {
	0%{
		transform: translate(0,0);

	}
	100%{
		transform: translate(100%,0);

	}
}

