
.container{
	z-index:5;
	position: relative;
	text-align: center;
	// display: flex;
	// justify-content: center;
	// flex-direction: column;
	width: 1230px;
	margin: 0 auto;
	height: 100%;
	@media (max-width:1380px) {
		width: 1080px;
	}
	@media (max-width:1200px) {
		width: 900px;
	}
	@media (max-width:991px) {
		width: 710px;
	}
	@media (max-width:768px) {
		width: 420px;
	}
	@media (max-width:480px) {
		width: 290px;
	}
	@media (max-width:320px) {
		width: 200px;
	}
}