@import './../../../../styles/colors.scss';


.workstatus {
	padding:170px 0 70px 0;
	background: $white;
	@media (max-width:768px) {
		padding:70px 0;
	}
	// .workstatus__name

	&__name {
		.name__logo {
			background: $white;
		}
	
		// .name__title
	
		.name__title {
			color: #000;
			@media (max-width:1200px) {
				font-size: 34px;
			}
			@media (max-width:991px) {
				font-size: 30px;
			}
			@media (max-width:768px) {
				font-size: 26px;
			}
			@media (max-width:480px) {
				font-size: 22px;
			}
			@media (max-width:320px) {
				width: 200px;
			}
		}
	
		// .name__subtitle
	
		.name__subtitle {
			color: $red;
			background: $white;
		}
	}

	// .workstatus__text

	&__text {
		display: inline-block;
		color: #777777;
		margin: 0 0 40px 0;
		max-width: 600px;
		font-family: 'Poppins';
	}

	// .workstatus__statuses

	&__statuses {
		display: flex;
		justify-content: space-around;
		@media (max-width:768px) {
			flex-wrap: wrap;
		}
	}

	// .workstatus__status

	&__status {
	}
}
.status {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	@media (max-width:768px) {
		flex: 1 0 100%;
	}
	&__arrow{
		width: 25px;
		height: 25px;
		@media (max-width:768px) {
			display: none;
		}
		span{
			z-index: 5;
			position: absolute;
			top: 55px;
			left: auto;
			right: 0;
			width: 22px;
			height: 3px;
			background: $red;
			&:nth-child(2){
					width: 12px;
					height: 3px;
					transform: rotate(45deg) translate(-30%,-130%);
			}
			&:nth-child(3){
				width: 12px;
				height: 3px;
				transform: rotate(-45deg) translate(-30%,130%);
		}
		}
		
		
		
	}
	

	// .status__image

	&__image {
		transition: 0.4s ease-in-out;
		position: relative;
		width: 110px;
		height: 110px;
		background: $yellow;
		border-radius: 50%;
		border: 6px solid $yellow;
		@media (max-width:768px) {
			width: 130px;
			height: 130px;
		}
		img{
			transition: 0.4s ease-in-out;
			z-index: 5;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
		&::after{
			transition: 0.4s ease-in-out;
			z-index: 1;
			position: absolute;
			content: '';
			top: 0px;
			left: 0px;
			width: 50%;
			height: 50%;
			background: $white;
			border-radius:  100% 0 0 0 ;
		}

	}
	&:nth-child(2){
		.status__image {
			&::before{
				transition: 0.4s ease-in-out;
				z-index: 1;
				position: absolute;
				content: '';
				top: 0px;
				left: auto;
				right: 0px;
				width: 50%;
				height: 50%;
				background: $white;
				border-radius:  0 100% 0 0 ;
			}
		}
	}
	&:nth-child(3){
		.status__image {
			&::after{
				transition: 0.4s ease-in-out;
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
			&::before{
				transition: 0.4s ease-in-out;
				z-index: 2;
				position: absolute;
				content: '';
				top: auto;
				bottom: 0;
				left: 0;
				width: 50%;
				height: 50%;
				background: $yellow;
				border-radius:  0 0 0 100% ;
			}
		}
	}
	&:nth-child(4){
		.status__image {
			&::after{
				transition: 0.4s ease-in-out;
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}
	}
	&:hover{
		.status__image {
			border: 0px solid $red;
			background: $red;
			img{
				filter: invert(100%) ;
			}
			&::after{
				background: #a52e2e;
			}
			&::before{
				background: #a52e2e;
			}
		}
		&:nth-child(3){
			.status__image {
				&::before{
					background:$red;
				}
			}
		}
	}

	// .status__title

	&__title {
		font-size: 24px;
		font-weight: 500;
		margin: 30px 0;
		@media (max-width:991px) {
			font-size: 18px;
		}
		@media (max-width:768px) {
			font-size: 24px;
		}
		@media (max-width:320px) {
			font-size: 16px;
		}
	}

	// .status__subtitle

	&__subtitle {
		font-family: 'Poppins';
		font-size: 14px;
		line-height: 26px;
		color: #777777;
	}
}
