@import './../../../../../styles/colors.scss';

.pathname{
	z-index: 1;
	position: absolute;
	left: 0;
	top: 65%;
	transform: translate(0,-50%);
	color: $white;
	font-size: 40px;
	font-weight: 300;
	text-transform: uppercase;
	@media (max-width:1200px) {
		font-size: 25px;
	}
	@media (max-width:768px) {
		font-size: 40px;
		left: 50%;
		top: 40%;
		transform: translate(-50%,-50%);
	}
	@media (max-width:480px) {
		font-size: 25px;
	}
}