@import '../../../../styles/colors.scss';

.bottom {
	position: absolute;
	display: flex;
	align-items: center;
	background: $yellow;
	min-width: 100%;
	width: 100%;
	height: 76px;
	padding: 15px;
	top: auto;
	left: 0;
	bottom: 0;
	transform: translate(0, 100%);
	@media (max-width:480px) {
		justify-content: center;
	}
	@media (max-width:767px) {
		transform: translate(0, 50%);
	}
	&.available{
		top: 0;
		transform: translate(0, 0);
		position: fixed;
	}
	&__burger-button{
		cursor: pointer;
		top: 50%;
		transform: translate(0,-50%);
		width: 12px;
		height: 10px;
		position: relative;
		display: none;
		padding: 10px;
		@media (max-width:992px) {
			display:block;
		}
		span{
			position: absolute;
			left: 50%;
			width: 60%;
			height: 2px;
			border-radius: 10px;
			background: $black;
			transform: translate(-50%,0);
			&:last-child{
				top: auto;
				bottom: 5px;
			}
			&:first-child{
				top: 5px;
			}
			&:nth-child(2){
				top: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
	
	&__search {
	}
}

.navigations {
	
	display: flex;
	height: 100%;
	align-items: center;
	@media (max-width:992px) {
		display:none;
	}
	
}
.navigation {

	position: relative;
	background: transparent;
	padding: 18px 24px;
	&.available{
		transition: 0.4s 0.4s ease-in-out;
		.navigation__name {
			color: $red;
			&::before{
				background: $red;
				
			}
		}
	}
	&:hover{
		.navigation__name {
			color: $red;
			&::before{
				background: $red;
				
			}
		}
	}

	&:last-child{

		.navigation__name {

			&::before{
				transition: 0.4s 0.4s ease-in-out;
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				right: 0;
				transform: translate(0,0);
				width: 0;
				height: 0;
				background: transparent;
				border-radius: 0;
			}

			&::after{
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				right: 0;
				transform: translate(0,0) rotate(0);
				width: 0;
				height: 0;
				background: transparent;
				border-radius: 0;
			}

	}

	}

	&__name {

		transition:0.4s ease-in-out;
		color: $black;
		font-size: 16px;
		font-family: 'Poppins';
		font-weight: 700px;

			&::before{
			transition: 0.4s 0.4s ease-in-out;
			position: absolute;
			content: '';
			top: 50%;
			left: auto;
			right: -5px;
			transform: translate(0,-50%);
			width: 10px;
			height: 10px;
			background: $black;
			border-radius: 50%;
		}
		&::after{
			position: absolute;
			content: '';
			top: 50%;
			left: auto;
			right: -5px;
			transform: translate(0,-50%) rotate(-35deg);
			width: 10px;
			height: 1px;
			background: $white;
			border-radius: 50%;
		}
		
	}	
		&__icon {
		}
	
}