@import './../../../../styles/colors.scss';

.testimonials {
	background: #000;
	padding: 90px 0 0 0;
	// .testimonials__cards

	&__cards {
		position: relative;
		top: 50px;
		display: flex;
		@media (max-width:768px) {
			top: 0;
			flex-wrap: wrap ;
		}
	}

	// .testimonials__card

	&__card {
	}
	&__name {
		.name__title{
			background: transparent;
			font-size: 36px;
			@media (max-width:991px) {
				font-size: 30px;
			}
			@media (max-width:768px) {
				font-size: 26px;
			}
			@media (max-width:480px) {
				font-size: 22px;
			}
		}
		.name__logo{
			background: #000;
		}
		.name__subtitle{
			background: #000;
		}
	}

	// .book__text

	&__text {
		display: inline-block;
		margin: 25px 0 50px 0;
		max-width: 600px;
		line-height: 26px;
		color: $white;
		font-family: 'Poppins';
	}
}
.card {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: $white;
	flex: 0 1 400px;
	border: 3px solid $yellow;
	border-radius: 5px;
	margin: 15px;
	padding: 35px 25px;
	@media (max-width:768px) {
		flex: 1 0 100%;
		margin: 10px 0 40px;
	}
	
	@media (max-width:320px) {
		padding: 20px 15px;
	}
	&:nth-child(even){
		border: 3px solid $red;
		.card__title{
			background: $red;
			color: $white;
			&:after{
				border-top: 10px solid $red;
			}
		}
		.person{
			&__image{
				border: 3px solid $red;
			}
			&__lines {
				span{
					background: $red;
					&:nth-child(2){
						background: $yellow;
					}
				}
			}
		}
	}
	// .card__title

	&__title {
		position: relative;
		border-radius: 6px;
		font-weight: 500;
		line-height: 30px;
		font-family: 'Josefin Sans';
		font-size: 28px;
		padding: 16px 10px 10px;
		background: $yellow;
		&:after{
			position: absolute;
			content: '';
			top: auto;
			bottom: 0;
			left: 50%;
			transform: translate(-50%,100%);
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid $yellow;
		}
	}

	// .card__subtitle

	&__subtitle {
		text-align: center;
		font-size: 14px;
		padding: 34px 30px 25px;
		line-height: 27px;
		font-family: 'Poppins';
		@media (max-width:320px) {
			padding: 20px 15px 15px;
		}
	}

	// .card__person

	&__person {
		margin: 25px 0 0 0;
		font-size: 12px;
		font-family: 'Poppins';
	}
}
.person {
	display: flex;
	flex-direction: column;
	align-items: center;
	// .person__image

	&__image {
		border-radius: 50%;
		border: 3px solid $yellow;
		img{
			width: 88px;
			height: 88px;
			border-radius: 50%;
		}
	}

	// .person__name

	&__name {
		margin: 15px 0 0 0;
		font-size: 16px;
		font-weight: 500;
	}

	// .person__lines

	&__lines {
		width: 100%;
		position: relative;
		margin: 15px 0;
		span{
			position: absolute;
			width: 20px;
			height: 1px;
			top: 0;
			left: 25%;
			background: $yellow;
			&:last-child{
				left: auto;
				right: 25%;
			}
			&:nth-child(2){
				left: 50%;
				transform: translate(-50%,-50%);
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: $red;


			}
		}
	}

	// .person__position

	&__position {
	}

	// .person__subposition

	&__subposition {
		margin: 5px 0;
	}
}
