@import './../../../../styles/colors.scss';
.services {
	background: $white;
	z-index: 10;
	padding: 70px 0;
	display: flex;
	flex-direction: column;
	// .services__name


	// .services__logo

	// .services__text

	&__text {
		display: inline-block;
		margin: 0 0 70px 0;
		max-width: 600px;
		line-height: 26px;
		color: #777777;
		font-family: 'Poppins';
	}

	// .services__plates
	&__name{
		.name__logo {
			background: $white;
		}
	
		.name__title {
			color: rgb(0, 0, 0);
		}
		.name__subtitle {
			background: $white;
			color: $red;
		}

	}
	&__plates {
		display: flex;
		flex-wrap: wrap;

	}

	// .services__plate

	&__plate {
	}
}
.name{
	position: relative;
	margin: 0 0 40px 0;
	&__logo {
		background: $white;
		padding: 10px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -80%);
	}

	// .services__title

	&__title {
		display: inline-block;
		border: solid 1px $yellow;
		padding: 25px 40px;
		font-weight: 700;
		font-size: 36px;
		@media (max-width:1200px) {
			font-size: 34px;
		}
		@media (max-width:991px) {
			font-size: 30px;
		}
		@media (max-width:768px) {
			font-size: 26px;
		}
		@media (max-width:480px) {
			padding: 25px 30px;
			font-size: 22px;
		}
		@media (max-width:320px) {
			width: 200px;
		}
	}

	// .services__subtitle

	&__subtitle {
		background: $white;
		padding: 10px;
		position: absolute;
		top: auto;
		bottom: 0;
		left: 50%;
		transform: translate(-50%,50%);
		color: $red;
		font-size: 16px;
	}
}
.plate {
	margin: 15px;
	position: relative;
	flex: 1 1 30%;
	height: 300px;
	@media (max-width:320px) {
		margin: 7px;
		height: 140px;
	}
	@media (max-width:768px) {
		flex: 1 1 100%;
		&:first-child{
			flex: 1 1 100%;
		}
	}
	&:first-child{
		flex: 1 1 63.48%;
	}
	// .plate__content

	&__content {
	}

	// .plate__image

	&__image {
			position: absolute;
			left: 0;
			left: 0;
			width: 100%;
			height: 100%;
			img{
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
			&::after{
				content: '';
				position: absolute;
				top: auto;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgb(0, 0, 0);
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
			}
			&::before{
				transition: 0.4s 0.4s ease-in-out;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgb(0, 0, 0);
				background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
				opacity: 0;
			}
	}
	&:hover{
		.plate__image{
			&::before{
				opacity: 1;
			}
		}
		.plate__content{
			.content__image{
				background: $white;
			}
		}
	}

	// .plate__name

	&__name {
	}
}
.content {
	padding: 20px;
	z-index: 6;
	position: absolute;
	top: auto;
	bottom: 0;
	left: 0;
	@media (max-width:320px) {
		padding: 10px;
	}
	// .content__image

	&__image {
		transition: 0.4s ease-in-out;
		margin: 0 0 20px 0;
		position: relative;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: $yellow;
		@media (max-width:320px) {
			width: 40px;
			height: 40px;
		}
		img{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 29.25px;
			height: 26px;
			color:$black;
			
			@media (max-width:320px) {
				width: 23px;
				height: 20px;
			}
		}
	}

	// .content__name

	&__name {
		font-size: 26px;
		color: $white;
		@media (max-width:1200px) {
			font-size: 20px;
		}
		@media (max-width:320px) {
			font-size: 16px;
		}
	}
}
