@import './../../../../styles/colors.scss';

.slider {
	position: relative;
	width: 100%;
	// height: 100vw * 0.416;
	// max-height: 800px;
	// @media (max-width:1200px) {
	// 	min-height: 100vw * 0.65;
	// }

	&__slide {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 100%;
		height: 100%;
	}


	&__buttons {
		z-index: 6;
		position: absolute;
		top: auto;
		bottom: 20px;
		left: 50%;
		transform: translate(-50%,0);
	}
	&__button{
		margin: 2.5px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: $white;
		border: 4px solid $yellow;
		transition: 0.4s ease-in-out;
		&.available{
			background: $yellow;
			border: 4px solid $white;
		}
	}
	&__shadow{
		z-index: 5;
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 20%;
		background: rgb(255,255,255);
		background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	}
}
.buttons{
	display: flex;
	justify-content: center;
}
