@import '../../../../styles/colors.scss';

.contacts {
	display: flex;
	justify-content: space-between;
	flex: 0 1 840px;
	@media (max-width:1380px) {
		flex: 0 1 740px;
	}
	@media (max-width:1200px) {
		align-items: flex-start;
		width: 100%;
		flex: 0 1 auto;
		padding: 30px 15px 0 15px;
	}
	@media (max-width:768px) {
		display: none;
	}
	padding: 0 15px;


}
.contact {
	padding: 0 15px;
	display: flex;

	&__icon {
		width: 44px;
		height:44px;
		padding: 10px;
		background: $yellow;
		margin: 0 16px 0 0;
	}


	&__text {
		white-space: nowrap;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}


	&__name {
		font-size: 14px;
		font-weight: 400;
	}


	&__info {
		font-family: 'Poppins';
		font-size: 13px;
		font-weight: 250;
		button{
			font-family: 'Poppins';
			font-size: 13px;
			font-weight: 250;
		};
	}
}